
@{
    ViewData["Title"] = "GenericView";
    
}

@using System.Linq
@using App4Answers.Models.A4Amodels
@using App4Answers.Models.A4Amodels.Base
@model App4Answers.Models.A4Amodels.EmailManager.A4AMailBoxViewModel


<div class="col-sm-12" style="color: black; padding-left: 0px; padding-top: 0px; margin-top: 0px; margin-right: 0px; padding-right: 0px">

    

    <ej-splitter id="outterSplitter" is-responsive="true" height="650px" width="100%" orientation="@Orientation.Horizontal">
        <e-split-panes>
            <e-split-pane pane-size="30%">
                <e-content-template>
                    
                    <div id="listview">
                        <ul>
                            @foreach (var c in Model.ViewModel.Messages)
                            {
                                <li data-ej-rendertemplate="true" data-ej-templateid="@c.MessageId"></li>
                            }
                        </ul>
                    </div>
                    @foreach (var c in Model.ViewModel.Messages)
                    {
                        <div id="@c.MessageId" style="padding:7px 7px 7px 7px;text-align:left">
                            <span style="font-size:11pt">@c.Subject- @c.UpdatedTime</span>
                        </div>
                    }                    
                </e-content-template>
            </e-split-pane>
            <e-split-pane >
                <e-content-template>
                    <div height="100%">
                        <div id="topicBar" style="text-align: left; display: none;">
                                <ej-Menu id="menujson">

                                    <e-menu-fields dataSource="ViewBag.datasource" id="Id" text="Text" parent-id="Parent" has-child="HasChild" sprite-css-class="sprite"></e-menu-fields>

                                </ej-Menu>


                        </div>
                        
                        <div >


                            @{

                                List<String> toolsList = new List<string>() {"style", "lists", "doAction", "links", "images", "customTools"};
                                List<String> style = new List<string>() {"bold", "italic", "underline", "strikethrough"};
                                List<String> lists = new List<string>() {"unorderedList", "orderedList"};
                                List<String> doAction = new List<string>() {"undo", "redo"};
                                List<String> links = new List<string>() {"createLink", "removeLink"};
                                List<String> images = new List<string>() {"image"};
                            }

                            <ej-rte show-context-menu="true" id="rteSample" show-toolbar="false" allow-editing="false" tools-list="toolsList" width="100%" height="600px">
                                <e-tools styles="style" lists="lists" do-action="doAction" links="links" images="images">
                                    <e-custom-tools>
                                        <e-custom-tool name="send" toolTip="Select a Topic to send question" text="Send To ... (select a topic)" action="showDialog"/>

                                    </e-custom-tools>
                                </e-tools>
                                <e-content-template>
                                    @if (Model.ViewModel.Messages.Any())
                                    {
                                        @Model.ViewModel.Messages[0].Content
                                    }

                                </e-content-template>
                            </ej-rte>
                        </div>
                    </div>
                </e-content-template>
            </e-split-pane>
         
        </e-split-panes>
    </ej-splitter>
 
</div>


