
@{
    ViewData["Title"] = "GenericView";
    
}

@using System.Linq
@using App4Answers.Models.A4Amodels
@using App4Answers.Models.A4Amodels.Base
@model App4Answers.Models.A4Amodels.EmailManager.A4AMailBoxViewModel


<div class="col-sm-12" style="color: black; padding-left: 0px; padding-top: 0px; margin-top: 0px; margin-right: 0px; padding-right: 0px">

    

    <ej-splitter id="outterSplitter" is-responsive="true" height="650px" width="100%">
        <e-split-panes>
            <e-split-pane pane-size="30%">
                <e-content-template>
                    
                    <div id="listview">
                        <ul>
                            @foreach (var c in Model.ViewModel.Messages)
                            {
                                <li data-ej-rendertemplate="true" data-ej-templateid="@c.MessageId"></li>
                            }
                        </ul>
                    </div>
                    @foreach (var c in Model.ViewModel.Messages)
                    {
                        <div id="@c.MessageId" style="padding:7px 7px 7px 7px;text-align:left">
                            <span style="font-size:11pt">@c.Subject- @c.UpdatedTime</span>
                        </div>
                    }
                    


                </e-content-template>
            </e-split-pane>
            <e-split-pane >
                <e-content-Template>
                    @{
                        List<String> toolsList = new List<string>() {"style", "lists", "doAction", "links", "images"};
                        List<String> style = new List<string>() {"bold", "italic", "underline", "strikethrough"};
                        List<String> lists = new List<string>() {"unorderedList", "orderedList"};
                        List<String> doAction = new List<string>() {"undo", "redo"};
                        List<String> links = new List<string>() {"createLink", "removeLink"};
                        List<String> images = new List<string>() {"image"};
                    }

                    <ej-rte id="rteSample" show-toolbar="false" allow-editing="false" tools-list="toolsList" width="100%" height="100%" >
                        <e-tools styles="style" lists="lists" do-action="doAction" links="links" images="images"></e-tools>
                        <e-content-template>
                            @if (Model.ViewModel.Messages.Any())
                            {
                                @Model.ViewModel.Messages[0].Content
                            }

                        </e-content-template>
                    </ej-rte>
                </e-content-Template>
            </e-split-pane>
        </e-split-panes>
    </ej-splitter>



</div>


