@using System
@using App4Answers.Models.A4Amodels
@using App4Answers.Models.A4Amodels.Base
@using Microsoft.AspNetCore.Mvc.Rendering
@using Microsoft.CodeAnalysis.CSharp.Syntax

@{
    ViewData["Title"] = "Terms";
    ViewData["RenderExpert"] = false;
    ViewData["Background"] = "/images/darkblue.png";
    ViewData["RenderAppStore"] = false;
    Layout = "_Layout";
}


    
<div class="col-sm-12" style="height: 20px">
        
</div>

<div class="row">

<div class="col-sm-1">

</div>

    <div class="col-sm-1" style="color: white; padding-right: 0px; margin-right: 0px" align="left">
        <div class="container-fluid" style="padding-top:23px">
            <ul class="nav  nav-stacked">
                <li class="a4amenu"><a class="a4amenu" asp-action="Administration" asp-route-objecttype="Dashboard">Dashboard</a></li>
                <li class="a4amenu"><a class="a4amenu" asp-action="Administration" asp-route-objecttype="@ModelNames.ObjectTypes.Expert" asp-route-verb="@ModelNames.Verb.List">Experts</a>                
                <li class="a4amenu"><a class="a4amenu" asp-action="Administration" asp-route-objecttype="@ModelNames.ObjectTypes.Profession" asp-route-verb="@ModelNames.Verb.List">Professions</a></li>
                <li class="a4amenu"><a class="a4amenu" asp-action="Administration" asp-route-objecttype="@ModelNames.ObjectTypes.Category" asp-route-verb="@ModelNames.Verb.List">Categories</a></li>
                <li class="a4amenu"><a class="a4amenu" asp-action="Administration" asp-route-objecttype="@ModelNames.ObjectTypes.SubCategory" asp-route-verb="@ModelNames.Verb.List">Subcategories</a></li>
                <li class="a4amenu"><a class="a4amenu" asp-action="Administration" asp-route-objecttype="@ModelNames.ObjectTypes.Location" asp-route-verb="@ModelNames.Verb.List">Locations</a></li>

                <li class="a4amenu"><a class="a4amenu" asp-action="Administration" asp-route-objecttype="@ModelNames.ObjectTypes.User" asp-route-verb="@ModelNames.Verb.List">Users</a></li>
                <li class="a4amenu"><a class="a4amenu" asp-action="Administration" asp-route-objecttype="@ModelNames.ObjectTypes.Administrator" asp-route-verb="@ModelNames.Verb.List">Administrators</a></li>
                <li class="a4amenu"><a class="a4amenu" asp-action="Administration" asp-route-objecttype="GroupContact">Group Contact</a></li>
                <li class="a4amenu"><a class="a4amenu" asp-action="Administration" asp-route-objecttype="Messages">Messages</a></li>
                <li class="a4amenu"><a class="a4amenu" asp-action="Administration" asp-route-objecttype="@ModelNames.ObjectTypes.Company" asp-route-verb="@ModelNames.Verb.List">Companies</a></li>
                <li class="a4amenu"><a class="a4amenu" asp-action="Administration" asp-route-objecttype="@ModelNames.ObjectTypes.Subscription" asp-route-verb="@ModelNames.Verb.List">Subscriptions</a></li>

            </ul>
        </div>
    </div>

    <div class="col-sm-9" style="color: white; padding-left: 0px; margin-left: 0px; margin-top: 0px; vertical-align: top; padding-top: 0px;" align="left">
        <div style="background-color: white; height: 700px; margin-left: 0px; padding-top: 0px; padding-left: 0px; vertical-align: top; margin-top: 0px">
            @if (Model is ViewModelListBase)
            {
                @Html.Partial("PartialView/ViewModelListViewer");

            }
            else if (Model is ViewModelBase)
            {
                @Html.Partial("PartialView/ViewModelEditor");

            }
            else if (Model is string)
            {
                // empty default 
            }
            else
            {
                throw new Exception($"Unexpected ViewModel type - {Model.GetType().Name}");
            }
        </div>
    
    
    </div>
    
    <div class="col-sm-1">

    </div>
</div>

